        @import './variables.scss';
        @import './mixin.scss';
        @import './transition.scss';
        @import './element-ui.scss';
        @import './sidebar.scss';

        body {
          height: 100%;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
        }

        label {
          font-weight: 700;
        }

        .el-pagination.is-background .el-pager li:not(.disabled).active {
          background-color: #037077;
          color: #FFF;
        }

        html {
          height: 100%;
          box-sizing: border-box;
        }

        #app {
          height: 100%;
        }

        *,
        *:before,
        *:after {
          box-sizing: inherit;
        }

        a:focus,
        a:active {
          outline: none;
        }

        a,
        a:focus,
        a:hover {
          cursor: pointer;
          color: inherit;
          text-decoration: none;
        }

        div:focus {
          outline: none;
        }

        .clearfix {
          &:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
          }
        }

        // main-container global css
        .app-container {
          padding: 0 20px 20px 20px;
          background-color: #fff;
        }

        // 表格标题
        .table_title {
          padding-top: 15px;
          margin-top: 0;
          margin-bottom: 15px;
        }

        //三级菜单样式
        // .el-tabs--card>.el-tabs__header .el-tabs__nav {
        //   .is-top {
        //     width: 20% !important;
        //   }

        //   border: none;
        // }

        .el-tabs__active-bar.is-top {
          background-color: #037077;
        }

        // .el-tabs--card>.el-tabs__header {
        //   border-bottom: none;
        // }

        // .el-tabs__item.is-active {
        //   color: #037077;
        // }

        // .el-tabs__item:hover {
        //   color: #037077;
        //   cursor: pointer;
        // }

        // .el-tabs__header {
        //   height: 65px;
        //   background: #ffffff;
        //   padding: 15px 20px 0 20px;
        //   position: relative;
        //   margin: 0;
        // }
        .el-tabs__item {
          font-size: 1rem;
          font-weight: 600;
        }

        // .el-tabs__item {
        //   padding: 0 50px;
        //   height: 50px;
        //   -webkit-box-sizing: border-box;
        //   box-sizing: border-box;
        //   line-height: 50px;
        //   display: inline-block;
        //   list-style: none;
        //   font-size: 14px;
        //   font-weight: 600;
        //   color: #131617;
        //   position: relative;
        //   border-radius: 5px 5px 0 0;
        //   margin-right: 5px;
        //   background: #f7f7f7;
        // }

        // .el-tabs__item:hover {
        //   color: #3981e2;
        //   cursor: pointer;
        // }

        // .el-tabs__item.is-active {
        //   color: #3981e2;
        //   background: white;
        // }

        // .el-tabs--top.el-tabs--card .el-tabs__item:nth-child(2) {
        //   padding-left: 50px;
        // }

        // .el-tabs--top.el-tabs--card .el-tabs__item:last-child {
        //   padding-right: 50px;
        // }

        .el-dialog.el-dialog--center {
          border-radius: 6px;
        }

        // .el-dialog__header {
        //   border-top-left-radius: 6px;
        //   border-top-right-radius: 6px;
        // }

        .notitle {
          .el-dialog {
            border-radius: 6px;
          }

          .el-dialog__headerbtn:focus .el-dialog__close,
          .el-dialog__headerbtn:hover .el-dialog__close {
            color: #BCD9DB;
          }

          .el-dialog__header {
            padding: 1rem;
          }

          .el-dialog__body {
            padding: 0 1rem;
          }

          .Form-title {
            margin: -1rem 0 0 0;

            .form-item {
              .form-title {
                font-weight: 600;
                font-size: 1.2rem;
                color: #303133;
                line-height: 45px;
              }
            }
          }

          .el-dialog__footer {
            text-align: center;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }
        }

        .single-row-title {
          .el-dialog {
            border-radius: 6px;
            width: 33%;
          }

          .Form-sort-input {
            width: 93%;
            margin-bottom: 1rem;

            .form-long-item {
              .form-label {
                width: 50%;
              }

              .form-long-label {
                width: 50%;
                line-height: normal;
                height: 45px;
                font-size: 1rem;
                text-align: right;
                margin-right: 0.5em;
                word-wrap: break-word;
              }
            }
          }


          .el-dialog__headerbtn:focus .el-dialog__close,
          .el-dialog__headerbtn:hover .el-dialog__close {
            color: #BCD9DB;
          }

          .el-dialog__header {
            padding: 1rem;
          }

          .el-dialog__body {
            padding: 0 3rem;
          }

          .Form-input {
            .form-long-item {
              .form-label {
                width: 50%;
              }

              .form-long-label {
                width: 50%;
                line-height: normal;
                height: 45px;
                font-size: 1rem;
                text-align: right;
                margin-right: 0.5em;
                word-wrap: break-word;
              }
            }

            .form-hegit-item {
              width: 100%;
              display: flex;
              margin-left: 0;
              margin-right: 0;

              .result {
                width: 83%;
                border: 1px solid #DCDFE6;
                border-radius: 4px;
              }

              .form-label {
                width: 15%;
                line-height: 45px;
                height: 45px;
                font-size: 1rem;
                text-align: right;
                margin-right: 0.5em;
              }
            }

            .form-item {
              width: 49.5%;
              display: flex;
              height: 45px;
              margin-left: 0;
              margin-right: 0;

              .form-text {
                width: 100%;
                line-height: 45px;
                text-align: left;

              }

              .form-label {
                width: 45%;
                line-height: 45px;
                height: 45px;
                font-size: 1rem;
                text-align: right;
                margin-right: 0.5em;
              }
            }
          }

          .Form-title {
            margin: -1rem 0 0 0;

            .form-item {
              .form-title {
                font-weight: 600;
                font-size: 1.2rem;
                color: #303133;
                line-height: 45px;
              }
            }
          }

          .el-dialog__footer {
            text-align: center;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }
        }

        .long-hastitle {
          .el-dialog {
            border-radius: 6px;
          }

          .el-dialog.el-dialog--center {
            width: 60%;
          }
        }

        .hastitle {
          .el-dialog {
            border-radius: 6px;
          }

          .el-dialog__headerbtn:focus .el-dialog__close,
          .el-dialog__headerbtn:hover .el-dialog__close {
            color: #BCD9DB;
          }

          .el-dialog__header {
            padding: 1rem;
          }


          .el-dialog__body {
            padding: 0 3rem;
          }

          .Form-input {
            .form-hegit-item {
              width: 100%;
              display: flex;
              margin-left: 0;
              margin-right: 0;

              .result {
                width: 83%;
                border: 1px solid #DCDFE6;
                border-radius: 4px;

                .el-collapse-item {
                  .el-checkbox-group {
                    padding-left: 1rem;
                  }

                  .el-collapse-item__header {
                    height: 45px;
                    font-size: 1rem;
                    font-weight: 600;
                  }
                }
              }

              .form-label {
                width: 15%;
                line-height: 45px;
                height: 45px;
                font-size: 1rem;
                text-align: right;
                margin-right: 0.5em;
              }
            }

            .form-item {
              width: 49.5%;
              display: flex;
              height: 45px;
              margin-left: 0;
              margin-right: 0;

              .form-text {
                width: 100%;
                line-height: 45px;
                text-align: left;

              }

              .form-label {
                width: 45%;
                line-height: 45px;
                height: 45px;
                font-size: 1rem;
                text-align: right;
                margin-right: 0.5em;
              }
            }
          }

          .Form-title {
            margin: -1rem 0 0 0;

            .form-item {
              .form-title {
                font-weight: 600;
                font-size: 1.2rem;
                color: #303133;
                line-height: 45px;
              }
            }
          }

          .el-dialog__footer {
            text-align: center;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }

        }

        .Form-sort-input {
          .form-sort-item-select .form-label {
            line-height: 45px;
            height: 45px;
            text-align: right;
            margin-right: 0.5em;
            font-size: 1rem;
            width: 32%;
            display: inline-block;
          }

          .form-sort-item-select .el-select {
            width: 65%;
          }
        }

        .charts_ind {
          width: 100%;
          height: 720px;
          margin-bottom: 12px;
          background: white;
          position: relative;
          padding: 1px 15px;

          .title {
            display: flex;
            justify-content: flex-start;
            font-weight: 600;
            line-height: 3rem;
            height: 3rem;
            margin: 0 0.5%;

            span {
              color: #409eff;
            }

            .t-fon {
              font-size: 1.2rem;
              font-weight: 600;
              margin-right: 2rem;
            }

            .reqBtn {
              background-color: #2887fb;
              color: #fff;
              border-radius: 6px;
              height: 35px;
              width: 7rem;
              line-height: 35px;
              text-align: center;
              display: flex;
              justify-content: center;
              margin-top: 7px;
              cursor: pointer;

              .req-icon {
                width: 2rem;
                height: 1.5rem;
                // background: url('~@/icons/images/loadAnaIcon1.png') no-repeat 100% 0;
                font-size: 1.2rem;
                margin: auto 0;
                margin-left: -0.3rem;
              }
            }
          }
        }

        i.el-dialog__close.el-icon.el-icon-close {
          font-weight: 900;
          font-size: 1.5rem;
        }

        span.el-dialog__title {
          font-size: 1.2rem;
          font-weight: 600;
        }

        .form-item {
          width: 49.5%;
          display: flex;
          height: 45px;
          margin-left: 0;
          margin-right: 0;

          .form-label {
            width: 33%;
            line-height: 45px;
            height: 45px;
            font-size: 1rem;
            text-align: right;
            margin-right: 0.5em;
          }

          .form-label_s {
            width: 48%;
            line-height: 45px;
            height: 45px;
            text-align: right;
            margin-right: 0.5em;
          }

          input {
            width: 96%;
          }

          .el-input__suffix {
            right: 18px;
            -webkit-transition: all .3s;
            transition: all .3s;
          }

          .el-select {
            width: 100%;
          }
        }

        .form-long-item {
          width: 100%;
          display: flex;
          height: 45px;
          margin-left: 0;
          margin-right: 0;

          .form-label {
            width: 18%;
            line-height: 45px;
            height: 45px;
            text-align: right;
            margin-right: 0.5em;
            font-size: 1rem;
          }

          input {
            width: 98.5%;
          }
        }

        .form-time-item {
          width: 49.5%;
          display: flex;
          height: 55px;
          margin-left: 0;
          margin-right: 0;

          .form-label {
            width: 40%;
            line-height: 45px;
            height: 45px;
            text-align: right;
            margin-right: 0.5em;
          }

          input {
            width: 96%;
          }

          .form-time-time {
            display: flex;
            width: 316.75px;
            padding-right: 6px;

            .el-input__prefix {
              left: 5px;
              top: -7px;
              -webkit-transition: all .3s;
              transition: all .3s;
            }
          }
        }

        .form-simb-textarea {
          width: 100%;
          display: flex;
          height: 45px;
          position: relative;
          margin-left: 0;
          margin-right: 0;

          .form-label {
            width: 16%;
            line-height: 50px;
            height: 50px;
            text-align: right;
            margin-right: 0.5em;
          }

          textarea {
            resize: none;
            width: 98.5%;
          }

          .fj-area {
            .el-input__inner {
              width: 100%;
              height: 30px;
              margin-top: 5px;
            }

            .el-input {
              width: 40%;
            }
          }
        }

        .form-textarea {
          width: 100%;
          display: flex;
          height: 95px;
          position: relative;
          margin-left: 0;
          margin-right: 0;

          .form-label {
            width: 16%;
            line-height: 50px;
            height: 50px;
            text-align: right;
            margin-right: 0.5em;
          }

          textarea {
            resize: none;
            width: 98.5%;
          }

          .fj-area {
            .el-input__inner {
              width: 100%;
              height: 30px;
              margin-top: 5px;
            }

            .el-input {
              width: 40%;
            }
          }
        }

        .Form-input {
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin-bottom: 1rem;

          .form-item {
            .form-long-label {
              width: 45%;
              line-height: normal;
              height: 45px;
              font-size: 1rem;
              text-align: right;
              margin-right: 0.5em;
              word-wrap: break-word;
            }

          }

        }

        .fromitem {
          .el-input {
            width: calc(82% - 1rem);
          }
        }

        #topright_Myindex {
          .gasDec_table {
            .el-table__body-wrapper {
              height: 185px;
              overflow-y: auto;
            }
          }
        }

        .main-body {
          height: calc(100vh - 110px);
          overflow: auto;
          padding: 1rem 20px 0 1rem;

          .content {
            border-top: 1px solid #dce1e1;
            padding-top: 1rem;

            .respont-content {
              .el-form-item {
                margin-bottom: 1rem;
              }
            }
          }

        }



        .el-form-item {
          margin-bottom: 0px;
        }


        .searchForm_glf {
          .el-input {
            width: 200px;
          }

          .el-form-item {
            margin-right: 2rem !important;
            margin-bottom: 1rem !important;
          }
        }

        // .onSearch {
        //   color: #2E8388 !important;
        //   border-color: #BCD9DB !important;
        //   background-color: #E6F1F1 !important;
        // }

        // .onSearch:active,
        // .onSearch:focus,
        // .onSearch:hover {
        //   background-color: #037077 !important;
        //   color: #ffff !important;
        // }
        .onSearch {
          background-color: #037077 !important;
          color: #ffff !important;
        }

        .onSearch:active,
        .onSearch:focus,
        .onSearch:hover {
          color: #2E8388 !important;
          border-color: #BCD9DB !important;
          background-color: #E6F1F1 !important;
        }

        .UserSearchFun {
          color: #2E8388 !important;
          border-color: #BCD9DB !important;
          background-color: #E6F1F1 !important;
        }

        .onSearch:active,
        .onSearch:focus,
        .onSearch:hover {
          background-color: #037077 !important;
          color: #ffff !important;
        }


        // .UserSearchFun {
        //   background-color: #037077 !important;
        //   color: #ffff !important;
        // }

        .UserSearchFun:active,
        .UserSearchFun:focus,
        .UserSearchFun:hover {
          background-color: #037077 !important;
          color: #ffff !important;

          // color: #2E8388 !important;
          // border-color: #BCD9DB !important;
          // background-color: #E6F1F1 !important;

        }

        .scroll-container.tags-view-wrapper.el-scrollbar {
          height: 60px !important;
          .tags-view-item:hover{
            background-color: #037077;
            color: white;
          }
          span.tags-view-item.router-link-exact-active.router-link-active.active {
            border: 1px solid #c7cfcf;
            height: 50px;
            border-radius: 0;
            border-bottom: 0;
            margin-top: 0;
          }

          span.tags-view-item {
            height: 49px;
            border: 1px solid #c7cfcf;
            border-bottom: 0;
            border-radius: 0;
            margin-top: 0;
            // border-bottom:0 ;
          }

        }

        // .el-scrollbar__view ::after{
        //   border-bottom: 1px solid #c7cfcf;
        //   content: "";
        // }

        .el-scrollbar__wrap {
          height: 100%;
        }

        /**修改头部导航样式*/
        .el-tabs__item.is-active {
          color: #037077;
        }

        .el-tabs__item.is-active:active {
          color: #037077;
        }
        .el-tabs__item.is-active:focus {
          color: #037077;
        }
        .el-tabs__item.is-active:hover {
          color: #037077;
        }
        .el-tabs__item:hover{
          color: #037077;
        }
        /*
         * 数据相关
         */
        .pagination-container{
          text-align: center;
          padding: 20px 0;
        }
        .record-operation{
          padding-bottom: 15px;
        }
        .form-item-select{
          width: 100%
        }
        /**
         * 查询相关
         */
        .search-buttons{
          float: right;
        }
        .search-container{
          display: flex;
        }
        .search-form{
          flex: 1 1;
        }
        .search-buttons{
          //...
        }
        /**
         * 任务侧边栏相关
         */
        .task-container {
          display: flex;
          min-height: calc(100vh - 180px);
        }

        .task-bar {
          background-color: #d3dce6;
          overflow: hidden;
          transition: .3s;
          width: 0;
          box-sizing: border-box;
        }

        .task-bar-opened {
          width: 160px;
          margin-right: 15px;
        }

        .task-bar > .header {
          font-size: 14px;
          font-weight: bold;
          text-align: center;
          padding: 15px;
        }

        .task-bar > .body {
          padding: 15px;
          text-align: center;
        }

        .task-content {
          flex: 1 1;
          overflow: hidden;
        }
       